@import "menubar.css";
@import "form.css";
:root {
    --primary: #48bae7;
    --primarydark: #41acd6;
    --title: rgb(144, 144, 144);
    --titlefade: #333333a8;
    --background-primary: #fff;
    --fade: #333333c2;
}

.background.pushable, .background {    
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) !important;    
    color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-laporan {
    margin-top: 5em;
}

.form.box {
    margin-top: 2em !important;
}

.ui.fluid.card {
    box-shadow: 0px 1px 30px 0px rgba(34, 36, 38, 0.1) !important;    
    border: 0 !important;   
}

.steps {
    box-shadow: 0px 1px 30px 0px rgba(34, 36, 38, 0.1) !important;
    border: 0 !important;
}

.button.next, .button.prev, .button.gambar, .button.keluar {
    font-family: 'karla', sans-serif !important;    
    background: #48bae7 !important;
    color: white !important;    
}

.button:hover {
    background: var(--primarydark) !important;
}

.ui.action.input {
    width: 100% !important;
    border: 1px !important;
}

#formbukti {        
    margin-top: 0;
    margin-bottom: 3em !important;    
}

#content{
    opacity: 0;
}

#bars, .mysidebar{
    display: none;    
}

@media only screen and (max-width: 768px) {

    .mysidebar{                
        padding-top: 5em !important;        
        position: fixed !important; 
        z-index: 20 !important;
        width: 100% !important;
        height: 100%;                     
    }
    
    .ui.vertical.menu{
        padding-right: 0em !important;        
        width: 100% !important;
        height: max-content !important; 
    }

    #bars{
        display: inherit !important;        
    }

        
    #right-menu{
        display: none !important;
    }
    
    .ui.menu {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

    .content-laporan {
        margin-top: 2em !important;
    }
    
    #content{
        opacity: 0;
        margin-top: 3em !important;
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
    }
}